<%-include('./partials/header.ejs')%>
<link rel="stylesheet" href="/css/style.css">
<script src="/app/orders.js" type="module"></script>
<title>ההזמנות של <%=result[0].name%></title>
<%-include('./partials/navbar.ejs')%>

<a href="<%=result[0].phone%>/<%=result[0].id%>"><button>חזרה לעמוד משתמש</button></a>
<% if (result[1].length===0){%>
    <div class="flash orders">
        <p>אין הזמנות ללקוח</p>
    </div>
    <%}else{%>
<%result[1].forEach((order)=>{%>
<div class="flash orders">
    <p>מספר ההזמנה: <%=order.id%></p>
    <p>תאריך הזמנה: <%=order.order_day%>/<%=order.order_month%>/<%=order.order_year%></p>
    <div class="products">
    <%result[0].forEach((item)=>{%>
        <%if(order.id===item.order_id){%>
                <p>שם המוצר: <%=item.product_name%><br>כמות: <%=item.quantity%></p>
                
                <%}%>   
                <%})%>
            </div>         
</div>
<%})%>
<%}%>