<%-include('./partials/header.ejs')%>
<link rel="stylesheet" href="/css/style.css">
<script src="/app/update.js" type="module"></script>
<title><%=result[0].name%> עדכון פרטים</title>
<%-include('./partials/navbar.ejs')%>

<button class="back-btn"><a href="/">חזרה לדף הבית</a></button>
<h1><%=result[0].name%> עדכון פרטי משתמש</h1>
<form action="/update/<%=result[0].id%>" method="post" class="registration-form" id="update-form">
   <div>
    <label for="">שם מלא</label>
    <input type="text" name="name" value="<%=result[0].name%>" id="upName" required oninvalid="this.setCustomValidity('שדה חובה')" oninput="this.setCustomValidity('')">
</div>
   <div>
    <label for="">טלפון</label>
    <input type="text" name="phone" value="<%=result[0].phone%>" id="upPhone" required oninvalid="this.setCustomValidity('שדה חובה')" oninput="this.setCustomValidity('')">
</div>
   <div>
    <label for="">טלפון נוסף</label>
    <input type="text" name="otherPhone" value="<%=result[0].other_phone%>" id="upOtherPhone">
</div>
   <div>
    <label for="">אימייל</label>
    <input type="email" name="email" value="<%=result[0].email%>" id="upMail" required oninvalid="this.setCustomValidity('שדה חובה')" oninput="this.setCustomValidity('')">
</div>
   <div>
    <label for="">רחוב</label>
    <input type="text" name="street" value="<%=result[0].str_address%>" id="upStreet">
</div>
   <div>
    <label for="">מספר בית</label>
    <input type="number" name="houseNum" value="<%=result[0].house_num%>" id="upHouseNum">
</div>
   <div>
    <label for="">מספר דירה/כניסה</label>
    <input type="text" name="apartementNum" value="<%=result[0].apartement_num%>" id="upApartementNum">
</div>
   <div>
    <label for="">עיר</label>
    <input type="text" name="city" value="<%=result[0].city%>" id="upCity" required oninvalid="this.setCustomValidity('שדה חובה')" oninput="this.setCustomValidity('')">
</div>
<button>עדכן פרטי משתמש</button>
</form>